/* MOVIE LIST */

#movies {
  padding-bottom: 20px;
  text-align: center;

  ul {
    column-count: 3;
    column-width: 350px;
    column-gap: 20px;

    li {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      box-shadow: $shadow;
      background-color: $white;
      border-radius: $radius;

      .card-header {
        h4 {
          margin-bottom: 10px;
          color: #555;
        }

        p {
          font-family: $text-font-2;
          color: $grey;

          span {
            font-family: $text-font-1;
            color: $color;
          }
        }
      }

      .card-body {
        margin: 20px 0px;
        padding: 20px 0px;
        border-top: $border;
        border-bottom: $border;
        border-color: $grey;

        img {
          width: 200px;
          height: auto;
          box-shadow: $shadow;
          border-radius: $radius;
        }
      }

      .card-footer {
        .row {
          margin-bottom: 20px;
        }

        .row:nth-child(1) {
          p {
            font-family: $text-font-2;
            font-size: 16px;
            color: $grey;
          }

          .col-xs-8 {
            text-align: left;
          }

          .col-xs-4 {
            text-align: right;
          }
        }

        .row:nth-child(2) {
          p {
            margin-bottom: 20px;
            padding: 10px;
            box-shadow: $shadow;
            line-height: 1.75em;
            border-radius: $radius;
          }
        }

        .row:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}

/* QUESTION LIST */

#question {
  padding-bottom: 20px;
  text-align: center;

  ul {
    // column-count: 1;
    // column-width: 350px;
    // column-gap: 20px;

    li {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      padding: 20px;
      box-shadow: $shadow;
      background-color: $white;
      border-radius: $radius;

      .card-header {
        h4 {
          margin-bottom: 10px;
          color: #555;
        }

        p {
          font-family: $text-font-2;
          color: $grey;

          span {
            font-family: $text-font-1;
            color: $color;
          }
        }
      }

      .card-body {
        margin: 20px 0px;
        padding: 20px 0px;
        border-top: $border;
        border-bottom: $border;
        border-color: $grey;

        img {
          width: 400px;
          height: auto;
          box-shadow: $shadow;
          border-radius: $radius;
        }
      }

      .card-footer {
        .row {
          margin-bottom: 20px;
        }

        .row:nth-child(1) {
          p {
            font-family: $text-font-2;
            font-size: 16px;
            color: $grey;
          }

          .col-xs-8 {
            text-align: left;
          }

          .col-xs-4 {
            text-align: right;
          }
        }

        .row:nth-child(2) {
          p {
            margin-bottom: 20px;
            padding: 10px;
            box-shadow: $shadow;
            line-height: 1.75em;
            border-radius: $radius;
          }
        }

        .row:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}